*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.Home{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
}
.navitems{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.navitems a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #394149;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 20px;
}
.button a{
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;   
    padding: 18px 30px 17px 29px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px; 
}
header{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 50px;
    display: flex;
    background: #DCEAF5;
}
header h2{
    color: #1D3444;
    padding-top: 20px;
    padding-right: 50px;
}
header p{
    padding-top: 15px;
    padding-right: 0px;
    font-size: 16px;
}
.headertext{
    width: 50%;
    margin-right: 60px;
    margin-top: 40px;
}
.profile{
    display: flex;
}
.headertext a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.headerimg img{
    border-radius: 20px;
}
.latestsection{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20%;
    padding-right: 20%;
}
.latestsection h2{
    margin-bottom: 20px;
}
.latest{
    display: flex;
    flex-wrap: wrap;
}
.latest img{
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.latest a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.latest1 {
    border-radius: 20px;
    height: 500px;  
    margin-bottom: 20px;
    background: #EDF7FF;
}
.latest2 {
    margin-left: 50px;
    border-radius: 20px;
    height: 500px;
    margin-bottom: 20px;
    background: #EDF7FF;
}
.latest3 {
    margin-left: 50px;
    border-radius: 20px;
    height: 500px;
    margin-bottom: 20px;
    background: #EDF7FF;
}
.latest4 {
    border-radius: 20px;
    height: 500px;
    background: #EDF7FF;
}
.latest5 {
    margin-left: 50px;
    border-radius: 20px;
    height: 500px;
    background: #EDF7FF;
}
.latest6 {
    margin-left: 50px;
    border-radius: 20px;
    height: 500px;
    background: #EDF7FF;
}
.lattext{
    margin: 25px;
    width: 350px;
}
footer{
    background: #063255;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 80px;
    height: 463px;
    position: relative;
}
.orangeside1{
    width: 50px;
    height: 290px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 38px;
    right: 0;
}
.orangeside2{
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-top-right-radius: 31px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footertop{
    display: flex;
    justify-content: space-between;
}
footer h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
footer h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
footer a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
footer h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footerleft{
    width: 30%;
}
.email{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    background: #FFFFFF;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
}
.subs{
    font-weight: 500;
    font-size: 18px;
    line-height: 106.5%;    
    text-transform: capitalize;
    color: #FFFFFF;
    background: #F58A07;
    border-radius: 31px;
    padding: 17px 32px 18px 32px;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.pp{
    padding-right: 20px;
}