*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.Home{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
}
.navitems{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.navitems a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #394149;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 10px;
}
.button a{
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;   
    padding: 18px 30px 17px 29px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px; 
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
header{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
}
.headertext{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 150px;
}
.headerimg{
    position: relative;
}
.orangebar{
    background-color: #F58A07;
    width: 20%;
    height: 98%;
    mix-blend-mode: multiply;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
}
.headerimg img{
    mix-blend-mode: multiply;
}
header a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #F58A07;
    border-radius: 27px;
    padding: 18px 32px 18px 32px;
    width: 174px;
}
.featuressection{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
}
.feature1{
    display: flex;
    justify-content: space-between;
}
.f1text{
    padding-top: 100px;
    padding-left: 50px;
}
.feature2{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.f2text{
    padding-top: 100px;
    padding-right: 50px;
}
.feature3{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.f3text{
    padding-top: 100px;
    padding-left: 50px;
}
.feature4{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.f4text{
    padding-top: 100px;
    padding-right: 50px;
}
.feature5{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.f5text{
    padding-top: 100px;
    padding-left: 50px;
}
.orange1{
    mix-blend-mode: multiply;
    border-radius: 20px;
    background: #F58A07;
    width: 95px;
    height: 97px;
    position: relative;
    top: 33%;
    right: 8%;
}
.orange2{
    mix-blend-mode: multiply;
    border-radius: 20px;
    background: #F58A07;
    width: 95px;
    height: 97px;
    position: relative;
    top: 33%;
    left: 92%;
}
.videosection{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 150px;
}
.videoleft{
    display: flex;
    flex-direction: column;
}
.videoleft h2{
    padding-top: 40px;
}
.videoleft p{
    padding-top: 20px;
}
.person{
    display: flex;
    padding-top: 40px;
}
.person h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}
.person h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.videosection{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 120px;
    margin-bottom: 120px;
}
.videoleft{
    display: flex;
    flex-direction: column;
}
.videoleft h2{
    padding-top: 40px;
}
.videoleft p{
    padding-top: 20px;
}
.person{
    display: flex;
    padding-top: 40px;
}
.person h5{
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}
.person h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.person div{
    padding-left: 20px;
}
.videoright{
    margin-left: 40px;
}
.backvideo{
    background-image: url(images/video-image.png);
    background-repeat: no-repeat;
    width: 620px;
    height: 500px;
    border-radius: 20px;
    position: relative;
}   
.play{
    display: flex;
    position: absolute;
    padding-left: 40px;
    bottom: 10%;
    align-items: center;
}
.play div{
    border: 1px solid;
    padding: 16px 11px 11px ;
    border-radius: 50%;    
    background-color: white;
    border-width: 0;
}
.play img{
    width: 17px;
    height: 17px;
}
.videoright h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.latestsection{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 120px;
    padding-left: 20%;
    padding-right: 20%;
    background: #DCEAF5;
}
.latest{
    display: flex;
    margin-top: 30px;
}
.latest img{
    width: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.latest a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.latest1 {
    border-radius: 20px;
    background-color: #FFFFFF;
}
.latest2 {
    margin-left: 40px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.latest3 {
    margin-left: 40px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.lattext{
    margin: 25px;
}
footer{
    background: #063255;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 80px;
    height: 463px;
    position: relative;
}
.orangeside1{
    width: 50px;
    height: 290px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 38px;
    right: 0;
}
.orangeside2{
    width: 53px;
    height: 144px;
    background: #F58A07;
    border-top-right-radius: 31px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footertop{
    display: flex;
    justify-content: space-between;
}
footer h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
footer h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
footer a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
footer h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footerleft{
    width: 30%;
}
.email{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    background: #FFFFFF;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
}
.subs{
    font-weight: 500;
    font-size: 18px;
    line-height: 106.5%;    
    text-transform: capitalize;
    color: #FFFFFF;
    background: #F58A07;
    border-radius: 31px;
    padding: 17px 32px 18px 32px;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.pp{
    padding-right: 20px;
}